<p>The User Name : {{name}}</p>
<aside class="menu-sidebar d-none d-lg-block">
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li>
            <a href="#">SIM order Batches</a>
          </li>
          <li>
            <a routerLink="/viewtasks/{{name}}">View Tasks</a>
          </li>
          <li>
            <a routerLink="/order/{{name}}">Order New Batch</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
 
