<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
              <a routerLink="/admin" routerLinkActive="active-link">
                SIM Order Request
              </a>
              <a routerLink="/viewtasks/{{loggedteam}}" routerLinkActive="active-link">
                view Tasks
              </a>
              <a routerLink="/order/showall" routerLinkActive="active-link">
                SIM Order Status
              </a>
              <a routerLink="/file/upload" routerLinkActive="active-link">
                Billing Input Files Upload
              </a>
              <a routerLink="/vendorfile/vendorupload" routerLinkActive="active-link">
                Vendor Files Upload
              </a>
              <a routerLink="/searchOta" routerLinkActive="active-link">
                Get OTA Keys
              </a>
              <a routerLink="/inputvalidation/" routerLinkActive="active-link">
                Vendor To Confirm Validation
              </a>
            </li>

        </ul>

    </nav>

</div>
